@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 97, 95, 82;
  --foreground-light-rgb: 146, 138, 76;
  --background-start-rgb: 235, 233, 217;
  --background-end-rgb: 235, 233, 217;
  --background-light-rgb: 248, 248, 243;
  --border-rgb: 233, 226, 176;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 97, 95, 82;
    --foreground-light-rgb: 146, 138, 76;
    --background-start-rgb: 235, 233, 217;
    --background-end-rgb: 235, 233, 217;
    --background-light-rgb: 248, 248, 243;
    --border-rgb: 233, 226, 176;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
